#index_introduction {
    border-radius: 25px;
    border-width : 10px;
    border-style: solid;
    border-color: rgb(129, 13, 13);
    background: red;
    padding: 20px;
    width: 500px;
    height: 200px;

    margin:auto;
    text-align:left;
    font-size: 26px;
  }