#corner1 {
  float:center;  
  
  border-radius: 25px;
    border-width : 10px;
    border-style: solid;
    border-color: #2c4707;
    background: #73AD21;
    padding: 20px;
    width: 1000px;
    height: 5300px;

    margin:auto;
    text-align:left;
    font-size: 26px;
  }

#corner2 {
  float:center;  
  
  border-radius: 25px;
    border-width : 10px;
    border-style: solid;
    border-color: #2c4707;
    background: #73AD21;
    padding: 20px;
    width: 1000px;
    height: 9500px;

    margin:auto;
    text-align:left;
    font-size: 26px;
  }

#corner3 {
  float:center;  
  
  border-radius: 25px;
    border-width : 10px;
    border-style: solid;
    border-color: #2c4707;
    background: #73AD21;
    padding: 20px;
    width: 1000px;
    height: 1800px;

    margin:auto;
    text-align:left;
    font-size: 26px;
  }

  #corner4 {
  float:center;  
  
  border-radius: 25px;
    border-width : 10px;
    border-style: solid;
    border-color: #2c4707;
    background: #73AD21;
    padding: 20px;
    width: 1000px;
    height: 8400px;

    margin:auto;
    text-align:left;
    font-size: 26px;
  }